body{
	font-family: Ubuntu, Consolas, Verdana;
	background-color: green;
}

/*link sem visita */
a:link {
    color: #090;
}

/* link visitado */
a:visited {
    color: purple;
}

/* mouse em cima do link */
a:hover {
    color: red;
}

/*link selecionado */
a:active {
    color: yellow;
}

#wrap{
	width: 960px;
	margin: auto;
	background: white;
	padding: 10px 20px;
}
header {
	background-color: green;
}
header h2 {
	font-family: Ubuntu, Consolas, Verdana;
	display: inline-block;
	clear: both;
	padding-left: 15px;
}
header nav {
	display: inline;
	align-content: right;
	padding-left: 37%;
}
header nav ul{
	display: inline;
	list-style: none;
	padding: 0px 0px 0px 120px;
}
header nav ul li{
	display: inline-block;
}

/* CONTENT */

table{
	width: 100%;
	/*background-color: #999;*/
}

/*
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
*/

th, td.paginas{
	padding: 5px;
	text-align: center;
}

td.itemLista{
	width: 33%;
	padding: 0.5%;
	background-color: black;
	border-radius: 5%;
}

td.itemLista img{
	width: 100%;
	border-radius: 5%;
}

/* FOOTER */

footer {
	height: 100px;
	background-color: green;
	display: block;
	clear: both;
}

footer nav ul {
	padding-top: 10px;
}

footer nav ul li{
	list-style: none;
	display: inline;
	padding-left: 18%;
}

#about{
	width: 7%;
}

#logoInferior{
	width: 9%;
}

#local{
	width: 4%;
}
