#login{
	background-color: green;
	width: 18.25%;
	padding: 2%;
	margin: auto;
	margin-top: 4%;
	margin-bottom: 4%;
	color: white;
}
#ajuda{
	font-family: Arial, sans-serif;
	font-size: 12px;
}
#ajuda a:link{
	color: white;
}
#ajuda a:visited{
	color: white;
}