a.subnav{
	background-color: #e3e3e3
}
#ficha{
	width: 53%;
	margin: auto;
	background-color: green;
	display: table;
	margin-top: 5%;
	color: white;
	border-radius: 5px;
}
#fotoDestaque{
	float: left;
	width: 50%;
}
#dados{
	padding-left: 58%;
}
#regras{
	margin-top: 5%;
	text-align: center;
}