#content{
	float: right;
	width: 750px;
	display: block;
}

#sidebar{
	float: left;
	width: 100px;	
}

#sidebar ul li{
	list-style: none;
	text-align: right;
	align-content: left;
}

.imagem {
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

.imagem img {
	opacity: 0;
	filter: alpha(opacity=0);
}

body p {
	text-align: justify;
	font-family: times;
	margin: auto;
}

header p {
	text-align: center;
}