#content{
	float: right;
	width: 750px;
	display: block;
}

#sidebar{
	float: left;
	width: 100px;	
}

#sidebar ul li{
	list-style: none;
	text-align: right;
	align-content: left;
}

.imagem {
	border-radius: 15%;
	-webkit-border-radius: 15%;
	-moz-border-radius: 15%;
}

.imagem img {
	opacity: 0;
	filter: alpha(opacity=0);
}
