body{
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	background-color: green;
	background-image: url("../img/background-4.jpg");
}

a:link {
    color: #090;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}

#wrap, #total{
	width: 960px;
	margin: auto;
	background: white;
	padding: 10px 20px;
}

.quote{
	text-align: center;
}

/* HEADER */

header {
	border-radius: 20px;
	background-color: green;
}

/*header h2 {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	display: inline-block;
	clear: both;
	padding-left: 15px;
}*/

header nav {
	text-align: center;
}

/*header nav ul{
	display: inline;
	list-style: none;
	padding: 0px 0px 0px 120px;
}*/

/*header nav ul li{
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
}*/

nav a{
	padding-right: 1%;
	padding-left: 1%;
}

nav a:link{
	color: white;
}
nav a:visited{
	color: white;
}

/* FOOTER */

footer {
	height: 100px;
	background-color: green;
	display: block;
	clear: both;
	border-radius: 20px;
}

footer nav ul {
	padding-top: 10px;
}

footer nav ul li{
	list-style: none;
	display: inline;
	padding-left: 18%;
}

#about{
	width: 7%;
}

#logoInferior{
	width: 9%;
}

#local{
	width: 4%;
}

#logoPrincipal{
	width: 15%;
	display: block;
	margin: auto;
}
#imgDonate{
	display: block;
	margin: auto;
}
#login{
			background-color:green;
			width: 25%;
			padding: 2%;
			margin: auto;
}