/*AQUI VAI O CSS DO HEADER E DO FOOTER, ALEM DA <div id="total"> E OUTRAS CARACTERISTICAS QUE SERÃO COMUNS À TODAS AS PÁGINAS*/

/*TODA PÁGINA DEVERÁ TER UMA <div id="total"> dentro do <body> E USARÁ ESSE ARQUIVO COMO REFERÊNCIA PARA HEADER E FOOTER*/

/*O EMMANUEL VAI INSERIR O HEADER E O FOOTER DEPOIS, APENAS COLOQUEM ESSE ARQUIVO COMO UMA DAS REFERENCIAS DE CSS NAS PÁGINAS QUE FIZEREM*/

#total {
	width: 1000px;
	margin: auto;
	font-family: "Comic Sans MS", cursive;
	background-color: #D8D8D8;
	text-transform: none;
	text-align: center;
    /*font-family: Century Gothic, Verdana, sans-serif;*/
}

.quote {
	text-align: center;
	font-family: "Comic Sans MS", cursive;
}
/*.links {
	color: #090;
	text-decoration: none;*/
/*link sem visita */
a:link {
    color: #090;
}

/* link visitado */
a:visited {
    color: purple;
}

/* mouse emcima do link */
a:hover {
    color: red;
}

/*link selecionado */
a:active {
    color: yellow;
}	

	
}
