#ficha{
	width: 53%;
	margin: auto;
	background-color: green;
	display: table;
	color: white;
	border-radius: 5px;
}
#fotoDestaque{
	float: left;
	width: 50%;
	border-radius: 2%;
}
#dados{
	padding-left: 58%;
}

table{
	width: 85%;
	margin: auto;
	margin-top: 3%;
}

th, td.paginas{
	padding: 5px;
	 text-align: center;
}

td.itemLista{
	width: 20%;
	padding: 0.5%;
	background-color: black;
	border-radius: 5%;
}

td.itemLista img{
	width: 100%;
	border-radius: 5%;
}