table{
	width: 85%;
	margin: auto;
	margin-top: 2%;
}

th, td.paginas{
	padding: 5px;
	 text-align: center;
}

td.itemLista{
	width: 20%;
	padding: 0.5%;
	background-color: black;
	border-radius: 5%;
}

td.itemLista img{
	width: 100%;
	border-radius: 5%;
}