.tdStatus {
    width: 200px;
}

.tdAction {
    width: 140px;
}

a.linkFicha {
    text-decoration: none;
    color: black;
}

.tdStatus a, .tdAction a, .tdAction p{
    margin: -3px;
}

.opcoesBusca {
    margin-bottom: 0;
    margin-top: 10px;
}

.opcoesBusca-inverse {
    margin-bottom: 10px;
    margin-top: 0;
}

.opcoesBusca .opcoesMargin, .opcoesBusca-inverse .opcoesMargin{
    margin-left: 10px;
}

.butBan {
    width: 80px;
}