body{
	font-family: Ubuntu, Consolas, Verdana;
}
a:link, a:visited{
	color: #FF6600;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#wrap{
	width: 960px;
	margin: auto;
	background: #E3E3E3;
	padding: 10px 20px;
}
header nav ul{
	list-style: none;
	padding-left: 0;
}
header nav ul li{
	display: inline-block;
	margin-right: 10px;
}
#content{
	float: left;
	width: 660px;
}
#sidebar{
	float: right;
	width: 300px;
}
#sidebar ul{
	list-style: none;
	text-align: right;
}
footer{
	clear: both;
}